@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

body {
  margin: 0;
  font-family: "Tapestry", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

